{% extends "html/maqueta.html" %}
{% load static %}
{% block principal %}
<body>
    <br>
    <div class="contenedor">
        <div>
            <div class="col-md-4">
                <a href="https://somoskudasai.com/noticias/anime/tokyo-revengers-tendra-una-tercera-temporada/">
                    <img src="{% static 'images/Tokyo.png' %}" width="700" height="250"></a>
            </div>
            <div class="col-md-8">
                <p>
                    Tras la emisión del episodio final de la segunda temporada de la adaptación al anime del manga
                    escrito e ilustrado por Ken Wakui, Tokyo Revengers, se anunció la producción de una
                    tercera temporada del proyecto. El comunicado de prensa confirmó que esta tercera temporada se
                    titulará “Tokyo Revengers: Tenjiku-hen (Arco de Tenjiku)”
                </p>
            </div>
        </div>
        <hr>
        </hr>
        <br></br>
        <div>
            <a
                href="https://somoskudasai.com/noticias/cultura-otaku/fans-de-fullmetal-alchemist-acusan-a-otro-manga-de-plagio/">
                <img src="{% static 'images/Full_Metal.png' %}" width="700" height="250"></a>
            <p>
                El portal japonés Myjitsu compartió un artículo señalando que los fanáticos de la franquicia de
                Fullmetal Alchemist acudieron a las redes sociales a acusar al manga de Hajime
                Koumoto, Mashle: Magic and Muscles, de un “evidente plagio”, debido al hecho de que cierto elemento
                clave fue parodiado en uno de los capítulos más recientes.
            </p>
        </div>
        <hr>
        </hr>
        <div>
            <a href="https://somoskudasai.com/noticias/anime/pole-princess-tendra-una-pelicula-este-invierno/">
                <img src="{% static 'images/Pole.png' %}" width="700" height="250"></a>
            <p>
                En el sitio oficial para la nueva franquicia multimedia de Avex Pictures y Tatsunoko Production, Pole
                Princess!!, se anunció que el proyecto tendrá una película de animación
                que se estrenará durante la próxima temporada de invierno (a partir de diciembre de este año).
            </p>
        </div>
        <hr>
        </hr>
        <div>
            <a
                href="https://somoskudasai.com/noticias/anime/el-anime-cardcaptor-sakura-clear-card-hen-tendra-segunda-temporada/">
                <img src="{% static 'images/Cardcaptor.png' %}" width="700" height="250"></a>
            <p>
                Durante el evento Sakura Fes en Japón se anunció que la adaptación al anime del manga escrito e
                ilustrado por CLAMP, Cardcaptor Sakura: Clear Card-hen, tendrá una segunda temporada.
                De acuerdo con lo mencionado en el comunicado de prensa, esta nueva secuela adaptará el resto del manga
                original hasta su conclusión.
            </p>
        </div>
        <hr>
        </hr>
        <div>
            <a
                href="https://somoskudasai.com/noticias/cultura-otaku/cowboy-bebop-celebra-su-vigesimo-quinto-aniversario/">
                <img src="{% static 'images/Cowboy.png' %}" width="700" height="250"></a>
            <p>
                El 3 de abril de 2023 en Japón se cumplen veinticinco años desde el estreno del anime original de los
                estudios Sunrise, Cowboy Bebop. Este proyecto fue creado por un grupo dirigido
                por Shinichiro Watanabe, la guionista, Keiko Nobumoto, el diseñador de personajes Toshihiro Kawamoto, el
                diseñador mecánico Kimitoshi Yamane y la compositora Yoko Kanno.
            </p>
        </div>
        <hr>
        </hr>
        <div>
            <a
                href="https://somoskudasai.com/noticias/live-action/hollywood-adaptara-una-historia-de-junji-ito-al-live-action/">
                <img src="{% static 'images/junji.png' %}" width="700" height="250"></a>
            <p>
                El medio Variety informó que el manga de horror de Junji Ito, Bloodsucking Darkness, será adaptado a una
                película live-action en Hollywood, con el guionista Jeff Howard
                (serie “Resident Evil” de 2022, productor de “The Haunting of Hill House”) a cargo del guion y fungiendo
                como productor ejecutivo. Se menciona también que el propio Junji Ito participará
                también como productor, mientras que Fangoria Studios está a cargo de la película.
            </p>
        </div>
    </div>
    <button style="margin-top: 30px;" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal" data-bs-whatever="@mdo">Dejanos tu
        comentario</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Mensaje:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="bg-dark-subtle text-dark pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <!--Primera Columna-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
                <hr class="mb-4">
                <p>
                    "En AnimeWaifu, somos un equipo apasionado de amantes del anime. 
                    Nuestro objetivo es ofrecerte una amplia selección de series de anime, desde los clásicos hasta los últimos lanzamientos.
                    Nos esforzamos por brindarte una experiencia de visualización excepcional mientras exploras nuestro sitio. 
                    Valoramos tus sugerencias y comentarios, ¡así que únete a nosotros en esta emocionante aventura anime!"
                </p>
            </div>
            <!--Segunda colunma-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bol text-primary">Dejanos ayudarte</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark text-decoration-none">Tu cuenta</a>
                </p>
                <p>
                    <a href="#" class="text-dark text-decoration-none">Formulario</a>
                </p>
                <p>
                    <a href="#" class="text-dark text-decoration-none">Manejo de cuenta</a>
                </p>
                <p>
                    <a href="#" class="text-dark text-decoration-none">Ayuda</a>
                </p>
            </div>
            <!--Tercera colunma-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bol text-primary">Legal</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark text-decoration-none">Terminos y condiciones</a>
                </p>
                <p>
                    <a href="#" class="text-dark text-decoration-none">Preguntas Frecuentes</a>
                </p>
                <p>
                    <a href="#" class="text-dark text-decoration-none">Politica de Privacidad</a>
                </p>
            </div>
            <!--Cuarta Columna colunma-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bol text-primary">Contacto</h5>
                <hr class="mb-4">
                <p>
                    <li class="fas fa-home me-3"></li> Chile. ciudad Maipu
                </p>
                <p>
                    <li class="fas fa-envelope me-3"></li> anime@gmail.col-md-3
                </p>
                <p>
                    <li class="fas fa-phone me-3"></li>55226422
                </p>
                <p>
                    <li class="fas fa-print me-3"></li> 22535561
                </p>
            </div>
            <hr class="mb-4">
            <div class="text-center mb-2">
                <p>Copyright Todos los Derechos reservados
                    <a href="#"></a>
                    <strong class="text-primary">Test</strong>
                </p>
            </div>
            <!--2da Fila-->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-dark "><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="fab fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="fab fa-git"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>
{% endblock %}