ol{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.first-day{
  grid-column-start: 5;
  text-decoration-line: none;
}

.day-name{
  background: #eee;
  font-weight: bold;;
}

div{
  text-align: center;
  width: 60;
}
li{
  text-align: left;
}
