c:\Users\alede\OneDrive\Escritorio\Proyecto_web\alumnos\templates\alumnos\alumnos_add.html c:\Users\alede\OneDrive\Escritorio\Proyecto_web\alumnos\templates\alumnos\alumnos_edit.html c:\Users\alede\OneDrive\Escritorio\Proyecto_web\alumnos\templates\alumnos\alumnos_list.html<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <h1>Hola alumnos</h1>
    <br>
    {% for alumno in alumnos %}

        {{alumno.rut}}, {{alumno.nombre}}, {{alumno.apellido_paterno}},
        {{alumno.apellido_materno}}, {{alumno.id_genero.genero}} <br>

    {% endfor%}

</body>
</html>